:root {
	--light-blue: #dcdfef;
	--dark-blue: #3a457f;
	--white: #fff;
	--black: #000;
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
  font-family: Kelson Sans, sans-serif;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 4em;
}

p {
  margin-top: 1em;
}